@charset "UTF-8";
/* CSS Document */
/*index popup*/
.indexwhole {
	overflow: hidden;
}
.indexbody {
		width: 100%;
		height: 50vh;
		overflow-x: hidden;
	}
.indexlist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 15vh;
		padding-left: 3vw;
		padding-right: 3vw;
}
.indexhead {
	display: flex;
	padding-right: 5px;
	align-items: flex-start;
	transform: rotateZ(-90deg);
	color: white;
	/*border: 1px solid green;*/
}
.indexgrid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: .2fr 5fr 5fr 1fr;
	/*border: 0.3px solid white;*/
	grid-row-gap: 0.4vw;
	grid-column-gap: 0.5vw;
	justify-content: flex-end;
}
.indexin {
	display: flex;
	align-items: center;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 0.5px solid white;
	border-bottom: 0.5px solid white;
}
.indexblank {
	height: 10px;
}
.indextitle {
	justify-content: flex-start;
}
.indextitle a {
	display: flex;
	text-decoration: none;
}
.indextitle a :visited{
	color: beige;
	text-decoration: none;
}
.indextitle a:hover{
	background-color: #ffff88;
	font-style: italic;
	text-decoration: none;
}
.indextitle a:hover pbody3 {
	color: #32d6d6;
}
.indexcategory {
	display: flex;
	justify-content: flex-start;
}
hhead {
	font-size: 0.8rem;
}
pbody2 {
	color: beige;
	font-size: .8rem;
	line-height: .8rem;
	font-weight: 100;
}
pbody3 {
	color: beige;
	font-size: .8rem;
	line-height: .8rem;
	font-weight: 100;
	text-align: left;
}
pkor {
	font-family: "IBM Plex Sans KR", sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.3em;
}
@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	.index-popup {
	/*--블루 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
		height: 80vh;
		padding-top: 0;
		padding-bottom: 0;
	padding-left: 5vw;
	opacity: 95%;
	border-radius: 800px 800px 0px 0px;
	z-index: 30;
}
	input[id="popup2"] + label + div > label {
	background: rgba(0, 0, 0, 70%);
}
	input[id="popup2"] + label + div > div > label {
	/*--close--*/
	transform: translate(55px, 74vh);
	}
	.indexbody {
		width: 90%;
		height: 50vh;
		overflow: auto;
		/*border: 1px solid green;*/
	}
	.indexin {
		justify-content: flex-start;
	}
	.indexnumbering {
		justify-content: flex-end;
	}
	.indexyear {
		justify-content: flex-end;
	}
	.indexlist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15vh;
		padding-left: 3vw;
		padding-right: 3vw;
}
	.indexhead {
		padding-right: 0px;
		transform: rotateZ(0deg);
		padding-top: 5px;
		margin-bottom: 5vh;
	}
	.indexbody {
		overflow: scroll;
	}
	.indexgrid {
	width: 100%;
	height: 100%;
	grid-row-gap: 1vw;
	grid-column-gap: 1vw;
		overflow: scroll;
	}
	}
@media (max-width: 767px) {
	/*-mobile css-*/
	.index-popup {
	/*--블루 전체 팝업--*/
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 94vw;
		height: 80vh;
		padding-top: 0;
		padding-bottom: 0;
	padding-left: 5vw;
	opacity: 95%;
	border-radius: 800px 800px 0px 0px;
	z-index: 30;
}
	input[id="popup2"] + label + div > label {
	background: rgba(0, 0, 0, 70%);
}
	input[id="popup2"] + label + div > div > label {
	/*--close--*/
	transform: translate(55px, 74vh);
	}
	.indexbody {
		width: 100%;
		height: 50vh;
		overflow: auto;
		/*border: 1px solid green;*/
	}
	.indexin {
		justify-content: flex-start;
	}
	.indexnumbering {
		justify-content: flex-end;
	}
	.indexyear {
		justify-content: flex-end;
	}
	.indexlist {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15vh;
		padding-left: .5vw;
		padding-right: .5vw;
}
	.indexhead {
		padding-right: 0px;
		transform: rotateZ(0deg);
		padding-top: 5px;
		margin-bottom: 5vh;
	}
	.indexgrid {
	width: 100%;
	height: 100%;
	grid-row-gap: 1vw;
	grid-column-gap: 1vw;
		overflow: scroll;
	}
}