@charset "UTF-8";
/* CSS Document */
html, body{
	margin: 0;
	padding: 0;
	widht: 100%;
	height: 100%;
}
.background {
	width: 100%;
	height: 300vh;
	background: linear-gradient(to bottom, #ff2a4e,#ff2a4e,#ffffe8,#33641e,#33641e,#6300ff);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bgimage {
	display: none;
}
.content {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 40%;
	padding-top: 2rem;
	padding-right: 2rem;
	z-index:2;
	top: 0;
}
.menu {
	cursor: pointer;
}
.menu-each {
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
}
li a {
	text-decoration: none;
    color: #000000;
    display: block; /* a 태그를 블록으로 설정하여 전체 영역을 클릭 가능하게 만듭니다 */
    width: 100%; /* 전체 너비를 차지하게 설정 */
    height: 100%; /* 전체 높이를 차지하게 설정 */
    pointer-events: auto; /* a 태그의 포인터 이벤트 활성화 */
}
li a:active,
li a:checked,
li a:hover {
    text-decoration: none;
    color: #000000;
}
.list-about,
.shown-list,
.hidden-list {
    text-align: right; /* 오른쪽 정렬 */
    pointer-events: auto; /* 포인터 이벤트 활성화 */
	text-shadow: 0px 0px 6px rgba(0,0,0,1), 0px 0px 6px rgba(0,0,0,1), 0px 0px 9px rgba(123,230,255,1.00);
}

.hidden-list {
    display: none;
    white-space: nowrap;
	font-style: italic; /* 원한다면 기울임 적용 */
	text-shadow: 0px 0px 3px rgba(0,0,0,1), 0px 0px 4px rgba(0,0,0,1), 0px 0px 9px rgba(255,255,255,1.00);
}

ul li:hover .hidden-list {
    display: block;
    cursor: pointer;
}

ul li:hover .shown-list {
    display: none;
}

h1, h2, span {
    margin: 0;
    font-family: "helvetica neue", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: 4.3rem;
    letter-spacing: -.35rem;
    text-align: right; /* 오른쪽 정렬 */
    margin-bottom: .15rem;
	color: rgba(0, 0, 0, 1);
    transition: transform 0.6s ease, opacity 0.6s ease; /* 애니메이션 효과 */
}
.about {
	text-align: right;
}
.star {
	font-style: italic;
}
.A {
	font-family: "AT Apoc", sans-serif;
	font-weight: bold;
}
.Z {
	font-family: "Basteleur"; /* "ME"에 사용할 다른 폰트 */
}
.see {
	font-family: "Basteleur";
}
.make {
	font-family: "Courgette";
}
.find {
	font-family: "Pilowlava";
}
.credit {
	font-family: "Sinistre", serif;/* "ME"에 사용할 다른 폰트 */
	font-weight: normal;/* 원하는 경우 폰트 두께 조정 */
}
.know {
    font-family: "Sinistre", serif; /* "KNOW"에 사용할 다른 폰트 */
    font-weight: normal;/* 원하는 경우 폰트 두께 조정 */
}
.me {
    font-family: "Savoye LET"; /* "ME"에 사용할 다른 폰트 */
}
/* 여백에 클릭이나 hover 이벤트가 발생하지 않도록 하기 */
ul li {
    pointer-events: none; /* ul li에 클릭 이벤트 비활성화 */
}

ul li a {
    pointer-events: auto; /* a 태그에 클릭 이벤트 활성화 */
}

/* 팝업 스타일 */
.index-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 88vw;
	height: 90vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: radial-gradient(circle, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 70%);
	z-index: 12;
	font-family: 'junction', sans-serif;
	font-size: .9rem;
	line-height: 1rem;
	font-weight: lighter;
	font-style: normal;
	border-radius: 500px 0px 500px 500px;
	overflow: hidden;
	cursor: crosshair;
	box-shadow: 0 0 20px rgba(255,236,157,1.00); /* 주변에 그림자 추가 */
    backdrop-filter: blur(20px); /* 배경 흐림 효과 */
}
.colophon-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 46vw;
	height: 80vh;
	padding-left: 5vw;
	padding-right: 5vw;
	background: radial-gradient(circle, rgba(0, 0, 0, .8) 0%, rgba(232, 138, 255, 0.1) 70%);
	z-index: 12;
	font-family: 'junction', sans-serif;
	font-size: .9rem;
	line-height: 1rem;
	font-weight: lighter;
	font-style: normal;
	border-radius: 500px 500px 500px 500px;
	overflow: hidden;
	cursor: help;
	box-shadow: 0 0 20px rgba(217,164,255,1.00); /* 주변에 그림자 추가 */
    backdrop-filter: blur(20px); /* 배경 흐림 효과 */
}
.about-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 88vw;
	height: 90vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 8vh;
	padding-bottom: 8vh;
	background: radial-gradient(circle, rgba(0, 0, 0, .8) 0%, rgba(123, 230, 255, 0.2) 70%);
	z-index: 12;
	font-family: "junction", sans-serif;
	font-size: .9rem;
	line-height: 1rem;
	font-weight: lighter;
	font-style: normal;
	border-radius: 100px 100px 100px 100px;
	overflow: hidden;
	cursor: crosshair;
	box-shadow: 0 0 50px rgba(123,230,255,1.00); /* 주변에 그림자 추가 */
    backdrop-filter: blur(20px); /* 배경 흐림 효과 */
}
.index-popup, .colophon-popup, .about-popup {
    display: none; /* 초기에는 숨겨둠 */
}
.bottom {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: auto;
	top: 86vh;
	padding-left: 1vw;
	z-index: 10;
}
.marquee {
    display: inline-block; /* 인라인 블록으로 설정 */
	white-space: nowrap;
    animation: marquee 10s linear infinite; /* 애니메이션 설정 */
}
.arrow-down {
	animation: bounce 1.5s ease-in-out infinite;
	margin-top: 3.5vh;
	padding-bottom: 2vh;
}
.arrow-down p2{
	font-size: 2rem;
    color: black;
    text-shadow: 
      	 0 0 10px rgba(255, 255, 255, 0.8), 
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 0, 255, 0.5),
        0 0 40px rgba(255, 0, 255, 0.4);
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 
            0 0 5px rgba(0, 0, 0, 0.6), 
            0 0 10px rgba(0, 0, 0, 0.4);
    }
    to {
        text-shadow: 
            0 0 10px rgba(0,0,0, 1), 
            0 0 20px rgba(255,255,255, 1);
    }
}
@keyframes bounce {
    0%{
        transform: translateY(-3px); /* 기본 위치 */
    }
    60% {
        transform: translateY(-10px); /* 위로 이동 */
    }
    100% {
        transform: translateY(-3px); /* 중간 위치 */
    }
}
.bottom p1, button {
	font-family: 'junction', sans-serif;
	font-size: .8rem;
	color: black;
	text-shadow: 0px 0px 3px rgba(0,0,0,.7), 0px 0px 5px rgba(0,0,0,.2);
}
button {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	cursor: pointer;
}
button:hover {
	text-decoration: underline;
}
.bottom a {
	text-decoration: none;
}
.bottom a:hover {
	text-decoration: none;
	font-weight: bold;
}
.bottom a:active {
	text-decoration: none;
}
.bottom a:checked {
	text-decoration: none;
}
.copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: .4vw;
	padding-right: .4vw;
	line-height: .65rem;
}
.bottom .circle {
	width: .4vw;         /* 원의 가로 크기 */
    height: .4vw;        /* 원의 세로 크기 */
    background-color: black; /* 원의 배경색 */
    border-radius: 50%;   /* 모서리 둥글게 */
    /* 추가 스타일링 */
    display: flex;        /* 내부 내용 정렬을 위한 Flexbox */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;
	margin-right: .15vw;
	box-shadow: 0px 0px 3px rgba(0,0,0,.7), 0px 0px 5px rgba(0,0,0,.2);
}
.colophon-body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 5vh;
	z-index: 5;
	padding-top: 24vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: #ffffff;
	font-weight: normal;
	text-shadow: 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #b748ff, 0 0 10px #9b748ff;
	grid-template-areas: 
		'a a b'
		'c c c'
}
.colophon-body .left {
	grid-area: a;
	padding-right: 6vw;
}
.colophon-body .right {
	grid-area: b;
	text-align: right;
}
.colophon-bottom {
	grid-area: c;
}
.colophon-body p {
	font-size: 1em;
	line-height: 1.5em;
}
/* 글리터 효과 스타일 */
.glitter {
    position: absolute;
    width: 5px; /* 글리터 크기 */
    height: 5px;
    background-color: white; /* 글리터 색상 */
    opacity: 0.8;
    border-radius: 50%; /* 원형 */
    pointer-events: none; /* 클릭 불가 */
	box-shadow: 0 0 5px white, 0 0 10px gold; /* 빛나는 효과 */
    animation: fall linear infinite; /* 애니메이션 설정 */
}

@keyframes fall {
    0% {
        transform: translateY(-100vh); /* 위에서 시작 */
        opacity: 1; /* 처음에는 보임 */
    }
    100% {
        transform: translateY(100vh); /* 아래로 떨어짐 */
        opacity: 0; /* 아래로 갈수록 사라짐 */
    }
}
@keyframes blink {
    0%, 100% {
        opacity: 1; /* 완전히 보이는 상태 */
    }
    50% {
        opacity: 0; /* 완전히 보이지 않는 상태 */
    }
}
.glitter-plus {
    position: absolute;
    width: 4.5px;      /* 다이아몬드의 가로 크기 */
    height: 4.5px;     /* 다이아몬드의 세로 크기 (길쭉하게 설정) */
    background-color: rgba(255, 255, 255, 0.9); /* 다이아몬드 색상 */
    transform: rotate(45deg); /* 45도 회전으로 다이아몬드 모양 구현 */
    animation: blink 1s infinite; /* 깜빡임 애니메이션 */
    box-shadow: 0 0 5px white, 0 0 5px gold, 0 0 10px gold; /* 빛나는 효과 */
}
.color-white { background-color: rgba(255, 255, 255, 0.9); }
.color-gold { background-color: rgba(255, 223, 186, 0.9); }
.color-lightblue { background-color: rgba(186, 225, 255, 0.9); }
.color-lightpink { background-color: rgba(255, 192, 203, 0.9); }

@media (min-width: 1024px) {
	/*--pc css--*/
}
@media (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
}
@media (max-width: 767px) {
	/*-mobile css-*/
	.content {
	padding-top: 1rem;
	padding-right: 1rem;
	}
	h1, h2, span {
    font-weight: 400;
    font-size: 4.1rem;
    line-height: 3.9rem;
    letter-spacing: -.35rem;
    text-align: right; /* 오른쪽 정렬 */
    margin-bottom: .15rem;
	color: rgba(0, 0, 0, 1);
    transition: transform 0.6s ease, opacity 0.6s ease; /* 애니메이션 효과 */
}
	.colophon-popup {
	width: 86vw;
	height: 80vh;
	}
	.colophon-body {
	padding-top: 18vh;
	padding-left: 2vw;
	padding-right: 2vw;
	}
	.colophon-body .left {
	padding-right: 1vw;
	}
	.bottom {
		top: 84vh;
	}
	.bottom p1, button {
	font-size: .8rem;
	color: black;
	text-shadow: 0px 0px 3px rgba(0,0,0,.7), 0px 0px 5px rgba(0,0,0,.2);
	}
}