@charset "UTF-8";
@font-face {
    font-family: 'Junction';
	src: url("../../font/junction/junction-bold.eot");
    src: url("../../font/junction/junction-bold.eot?#iefix") format('embedded-opentype'),
		url("../../font/junction/junction-bold.woff2") format('woff2'),
         url("../../font/junction/junction-bold.woff") format('woff'),
         url("../../font/junction/junction-bold.ttf") format('truetype'),
		url("../../font/junction/Junction-bold.otf") format('opentype'),
         url("../../font/junction/junction-bold.svg#junctionbold") format('svg');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url("../../font/junction/junction-light.eot");
    src: url("../../font/junction/junction-light.eot?#iefix") format('embedded-opentype'),
		url("../../font/junction/junction-light.woff2") format('woff2'),
         url("../../font/junction/junction-light.woff") format('woff'),
         url("../../font/junction/junction-light.ttf") format('truetype'),
		url("../../font/junction/Junction-light.otf") format('opentype'),
         url("../../font/junction/junction-light.svg#junctionlight") format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url("../../font/junction/junction-regular.eot");
    src: url("../../font/junction/junction-regular.eot?#iefix") format('embedded-opentype'),
		url("../../font/junction/junction-regular.woff") format('woff'),
		url("../../font/junction/junction-regular.woff2") format('woff2'),
		url("../../font/junction/Junction-regular.otf") format('opentype'),
         url("../../font/junction/junction-regular.woff") format('woff'),
         url("../../font/junction/junction-regular.ttf") format('truetype'),
         url("../../font/junction/junction-regular.svg#junctionregular") format('svg');
    font-weight: normal;
    font-style: normal;

}