@charset "UTF-8";
/* CSS Document */
.bgimg {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-image: url("../../img/movement/sketch_02.png");
	background-repeat: no-repeat;
	background-size:cover;
}
.bgimg2 {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-image: url("../../img/movement/001.png");
	background-repeat: no-repeat;
	background-size:cover;
}
.bgimg3 {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-image: url("../../img/movement/002.png");
	background-repeat: no-repeat;
	background-size:cover;
}
.bgimg::before {
	content: "";
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
	transform: scale(1.1);
}
.bgwhite2 {
	background-color: white;
	width: 75%;
}
.video-image-grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 0vw;
	grid-row-gap: 1vh;
	justify-content: center;
	align-items: center;
}
.video-image-grid img{
	width: 100%;
}