@charset "UTF-8";
@font-face {
    font-family: 'Basteleur';
	src: url("../../font/basteleur/Basteleur-Bold.woff2") format('woff2'),
         url("../../font/basteleur/Basteleur-Bold.woff") format('woff'),
         url("../../font/basteleur/Basteleur-Bold.ttf") format('truetype'),
		url("../../font/basteleur/Basteleur-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'Basteleur';
	src: url("../../font/basteleur/Basteleur-Moonlight.woff2") format('woff2'),
         url("../../font/basteleur/Basteleur-Moonlight.woff") format('woff'),
         url("../../font/basteleur/Basteleur-Moonlight.ttf") format('truetype'),
		url("../../font/basteleur/Basteleur-Moonlight.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}