@charset "UTF-8";
@font-face {
    font-family: 'Ribes';
    src: url("../../font/ribes/web/Ribes-Light.woff2") format('woff2'),
		url("../../font/ribes/web/Ribes-Light.otf") format('opentype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Ribes';
    src: url("../../font/ribes/web/Ribes-Regular.woff2") format('woff2'),
		url("../../font/ribes/web/Ribes-Regular.otf") format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Ribes';
    src: url("../../font/ribes/web/Ribes-Black.woff2") format('woff2'),
		url("../../font/ribes/web/Ribes-Black.otf") format('opentype');
    font-weight:bolder;
}

